<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.niju_project">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiJu_Project"
        tools:targetApi="31">

        <!-- 🔹 Pantalla inicial (Splash) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🔹 Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />

        <!-- 🔹 Pantalla principal -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:label="Inicio" />

        <!-- 🔹 Contextos -->
        <activity
            android:name=".ContextsActivity"
            android:exported="true"
            android:label="Contextos" />

        <!-- 🔹 Ruta de aprendizaje -->
        <activity
            android:name=".RutaActivity"
            android:exported="true"
            android:label="Tu Ruta" />

        <!-- 🔹 Lecciones -->
        <activity
            android:name=".LessonActivity"
            android:exported="true"
            android:label="Lecciones" />

        <!-- 🔹 Prácticas -->
        <activity
            android:name=".PracticeActivity"
            android:exported="true"
            android:label="Práctica" />

        <!-- 🔹 Perfil -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Perfil" />

        <activity
            android:name=".FavoritesActivity"
            android:exported="true"
            android:label="Favoritos" />

    </application>

</manifest>
